@import 'themes';

@import '~@nebular/theme/styles/globals';


@include nb-install() {
  @include nb-theme-global();
};

.nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer nav {
    background-color: #ffffff;
    border-top: 1px solid #edf1f7;
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 0;
}